<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>First node js html</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>

        <div class="main_title">

            <h1>Rgb lights</h1>

        </div>
        

        <form action="/" method="POST">
            <div class="Menu_bar">

                <button name="instant_lighting" formaction="/instant_lighting" class="instant_lighting">éclairage instantané</button>
                <button name="animation" formaction="/animation" class="animation">animation</button>
                <button name="custom_color" formaction="/custom_color" class="custom_color">Couleur Custom</button>

            </div>
            
        </form>





    </body>


</html>