<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8"/>
        <title>instant lightining</title>
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>

        <form action="/" method="POST">
            <div class="defined_colors">

                
                <button name="red" formaction="/red" style="background-color: #FF3D3D; color: #3DFFFF;">red</button>
                <button name="orange" formaction="/orange" style="background-color: #FF923D; color: #3DAAFF;">orange</button>
                <button name="yellow" formaction="/yellow" style="background-color: #F3EF11; color: #1115F3;">yellow</button>
                <button name="green" formaction="/green" style="background-color: #0CF60C; color: #F60CF6;">green</button>
                <button name="dark_green" formaction="/dark_green" style="background-color: #00B200; color: #B200B2;">dark green</button>
                <button name="light_green" formaction="/light_green" style="background-color: #69FF69; color: #FF69FF;">light green</button>
                <button name="light_blue" formaction="/light_blue"  style="background-color: #69FEFF; color: #FF6A69;">light blue</button>
                <button name="dark_blue" formaction="/dark_blue" style="background-color: #0900FF; color: #F6FF00">dark blue</button>
                <button name="pink" formaction="/pink" style="background-color: #E60BD2; color: #0BE61F;">pink</button>
                <button name="white" formaction="/white" style="background-color: #FFFFFF; color: black;">white</button>
                <button name="Black" formaction="/Black" style="background-color: black; color: white">Black</button>
                <button name="none" formaction="/none" style="background-color: black; color: white">none</button>
                
                
            </div>
            <div class="back">

                <button name="back" formaction="/back" style="background-color: black; color: white">back</button>
                
            </div>

        </form>


    </body>





</html>