@font-face {
    font-family: "arkitech-stencil";
    src: url("../fonts/arkitech-stencil.ttf");
}


html
{
    background-image: url("../img/background.png");
}
.main_title
{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_title h1
{
    color: transparent;
    font-weight: 700;
    font-size: 6em;
    text-align: center;
    text-transform: uppercase;
    font-family: "arkitech-stencil";
    background-image: linear-gradient(to right, #f00, #ff0, #0ff, #0f0, #00f);
    -webkit-background-clip: text;
    animation: animate 20s linear infinite;
    background-size: 1000%;
}

@keyframes animate
{
    0%
    {
        background-position: 0% 100%;
    }
    50%
    {
        background-position: 100% 0%;
    }
    100%
    {
        background-position: 0% 100%;
    }

}

.Menu_bar
{
    position: absolute;
    display: flex;
    top: 30%;
    width: 99%;
    height: 260px;
    justify-content: space-between;

}



.instant_lighting
{
    width: 250px;
    height: 250px;
    border-radius: 15px;
    background-color: #3130FF;
    /*box-shadow: 5px 5px 5px 5px black;*/
    border: none;
    text-transform: uppercase;
    color: #FF5930;
    font-size: 1.28em;
    letter-spacing: 5px;
    font-weight: 700;
    font-family: "arkitech-stencil";
    cursor: pointer;
    transition: 1s;
}

.instant_lighting:hover
{
    width: 280px;
    height: 280px;
    transform: translate(-2%, -2%);
    box-shadow: 5px 5px 5px 5px black;
}
.animation
{
    width: 250px;
    height: 250px;
    border-radius: 15px;
    background-color: #3130FF;
    /*box-shadow: 5px 5px 5px 5px black;*/
    border: none;
    text-transform: uppercase;
    color: #FF5930;
    font-size: 1.28em;
    letter-spacing: 5px;
    font-weight: 700;
    font-family: "arkitech-stencil";
    cursor: pointer;
    transition: 1s;    
}
.animation:hover
{
    width: 280px;
    height: 280px;
    transform: translate(-2%, -2%);
    box-shadow: 5px 5px 5px 5px black;    
}


.custom_color
{
    width: 250px;
    height: 250px;
    border-radius: 15px;
    background-color: #3130FF;
    /*box-shadow: 5px 5px 5px 5px black;*/
    border: none;
    text-transform: uppercase;
    color: #FF5930;
    font-size: 1.28em;
    letter-spacing: 5px;
    font-weight: 700;
    font-family: "arkitech-stencil";
    cursor: pointer;
    transition: 1s;    
}

.custom_color:hover
{
    width: 280px;
    height: 280px;
    transform: translate(-2%, -2%);
    box-shadow: 5px 5px 5px 5px black;  
}



/*

    CSS FOR INSTANT LIGHTNING MODULE

*/




.defined_colors
{
    width: 100%;
    height: 55%;

    display: inline-flex;
    justify-content: space-between;
    
    flex-wrap: wrap;

    row-gap: 20px;
}


.defined_colors button
{


    width: 300px;
    height: 300px;

    border-radius: 5px;

    border: none;
    text-transform: uppercase;
    font-size: 1.28em;
    letter-spacing: 5px;
    font-weight: 700;
    font-family: "arkitech-stencil";
    cursor: pointer;
    -webkit-transition: width 1s, height 1s, margin 1s;
    -moz-transition: width 1s, height 1s, margin 1s;
    -ms-transition: width 1s, height 1s, margin 1s;
    transition: width 1s, height 1s, margin 1s;


}

.defined_colors button:hover
{
    width: 350px;
    height: 350px;
}

.back
{
    width: 100%;
    height: 50%;


    display: flex;

    justify-content: center;
    align-items: center;



    row-gap: 20px;
}


.back button
{

    border: none;
    width: 100%;
    height: 240px;
    border-radius: 5px 5px 15px 15px;
    color: #19E500;
    background-image: linear-gradient(45deg, #03a9f4, #ff0058);
    background-size: 1000%;
    text-transform: uppercase;
    font-family: "arkitech-stencil";
    font-size: 3em;
    transition: 1s;
}

.back button:hover
{
    background-position: 100%;
}



